<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">All Charts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/temperature">Temperature Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/direct-radiation">Direct Radiation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/relative-humidity">Relative Humidity</a>
    </li>
  </ul>
  <div>
      <router-outlet></router-outlet>
  </div>
</div>
