<div>
  <h1>My Charts</h1>
  <!-- Chart 1 -->
  <canvas baseChart
          [data]="chartData.chart1"
          [labels]="['Data 1', 'Data 2']"
          [chartType]="'line'">
  </canvas>

  <!-- Chart 2 -->
  <canvas baseChart
          [data]="chartData.chart2"
          [labels]="['Data 1', 'Data 2']"
          [chartType]="'bar'">
  </canvas>

  <!-- Chart 3 -->
  <canvas baseChart
          [data]="chartData.chart3"
          [labels]="['Data 1', 'Data 2']"
          [chartType]="'pie'">
  </canvas>
</div>
